body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*----------HEADER---------*/
.page-header {
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------LOGO---------*/
.header-logo {
  /* align-items: center;
  margin-right: 76px;
  padding: 24px 0; */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  display: block;
  padding: 16px 0;
}
.logo-span {
  color: #2e2f42;
}

.nav-links,
.contact-links {
  display: none;
}

/*----------MENU---------*/
.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: none;
  /* display: flex;
  align-items: center;
  gap: 40px; */
}

.nav-item {
}

.nav-item-links {
  position: relative;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:first-child .nav-item-links {
  color: #404bbf;
}
.nav-item-links:hover {
  color: #404bbf;
}
.nav-item-links:focus {
  color: #404bbf;
}
.active {
  color: #404bbf;
}
.nav-item:first-child .nav-item-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------ADDRESS---------*/
.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-links {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  /* display: flex;
  align-items: center;
  gap: 40px; */
}
.contact-item {
}
.contact-item-links {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-links:hover,
.contact-item-links:focus {
  color: #404bbf;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* ----------------MOBILE-MENU--------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  margin-bottom: 64px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-button {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.studio {
  color: #404bbf;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-address-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.tel {
  color: #4d5ae5;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.icons-mobile-menu {
  display: flex;
  gap: 40px;
}
.mobile-icon-item {
  width: 40px;
  height: 40px;
}

/*----------MAIN---------*/
.main {
  max-width: 320px;
  width: 100%;
  padding: 72px 0 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/Mobile/Dark-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}
.main-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 111%;
  max-width: 320px;
  margin-bottom: 72px;
  padding: 0 52px;
}
.title-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  background: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}
/*----------ABOUT-US---------*/
.about-us {
  padding: 96px 0 96px;
}
.about-us-container {
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us-list-container {
}
.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.about-us-item {
}

.about-us-icon {
  display: none;
}
.about-us-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.about-us-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/*----------OUR-TEAM---------*/
.our-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding: 96px 0 96px;
}

.our-team-container {
  display: flex;
  flex-direction: column;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 0;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  justify-content: center;
}

.our-team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
}

.team-card-info {
  padding: 32px 16px 32px;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}

.our-team-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}
.team-soc-list-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
  fill: #f4f4fd;
}
/*----------PORTFOLIO---------*/
.portfolio {
  text-transform: capitalize;
  padding: 96px 0 96px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-block {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  margin-top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-item-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/*----------FOOTER---------*/
.footer {
  background-color: #2e2f42;
  padding: 96px 0 96px;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-info {
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.footer-link-span {
  color: #f4f4fd;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-soc-block {
  padding: 0 40px;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-soc-list {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-soc-list-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}
/* -----MODAL----- */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  /* width: 408px;
  min-height: 584px; */
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px 16px;
  width: 288px;
  height: 628px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  border: none;
  background-color: #404bbf;
  border-radius: 100%;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: #fff;
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
}
.form-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input-block {
  margin-bottom: 8px;
}

.rules-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #4d5ae5;
  border-color: #4d5ae5;
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.form-input-field {
  position: relative;
}

.form-input-block-comment {
  margin-bottom: 16px;
}

.form-input-field-comment {
}

.comment-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
  border: 1px solid #4d5ae5;
  border-color: #4d5ae5;
}

.comment-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-icon {
  fill: #000000;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.form-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.form-check-text-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .form-check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.rules-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  width: 288px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6; /*new */
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-subscribe-icon {
  fill: white;
  margin-left: 16px;
}

/* ------------MEDIA TABLET----------- */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  /* -----HEADER------ */
  .header-logo {
    align-items: center;
    /* margin-right: 76px; */
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contact-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 40px; */
  }
  .burger-btn {
    display: none;
  }
  /* -----MAIN------ */
  .main {
    max-width: 768px;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/Dark-bg-tablet.png);
  }
  .main-title {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 36px;
    padding: 0; /* new */
  }
  /* -----ABOUT US------ */
  .about-us {
    padding: 96px 0 96px;
  }
  .about-us-list {
    gap: 72px 24px;
  }
  .about-us-item {
    flex-basis: calc((100% - 2 * 24px) / 2);
  }
  .about-us-subtitle {
    text-align: left;
    margin-bottom: 8px;
  }
  /* -----OUR TEAM------ */
  .our-team {
    padding: 120px 0 120px;
  }
  .our-team-list {
    gap: 64px 24px;
  }
  .team-card-info {
    padding: 32px 16px 32px;
  }
  /* -----PORTFOLIO------ */
  .portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 2);
  }
  /* -----FOOTER------ */
  .footer-wrapper {
    gap: 72px 24px;
    padding: 0 108px;
  }
  .footer-info {
    max-width: 264px;
    width: 100%;
  }
  .footer-link {
    justify-content: left;
  }
  .footer-paragraph {
  }
  .footer-subscribe {
    flex-direction: column;
    justify-content: left;
  }
  .footer-soc-block {
    padding: 0;
  }

  .footer-soc-title {
    justify-content: left;
  }

  .footer-form {
    width: 264px;
    height: 40px;
    flex-direction: column;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
}
/* -----MODAL------ */
.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

/* ------------MEDIA DESKTOP----------- */
@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* -----HEADER------ */
  .header-logo {
    margin-right: 76px;
  }
  .contact-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  /* -----MAIN------ */
  .main {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/people-office.png);
  }
  .main-title {
    margin-bottom: 48px;
    padding: 0;
  }
  /* -----ABOUT US------ */
  .about-us {
    padding: 120px 0 120px;
  }
  .about-us-container {
    flex-direction: column;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .about-us-list-container {
  }
  .about-us-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .about-us-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .about-us-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .about-us-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .about-us-text {
    font-weight: 400;
  }
  /* -----OUR TEAM------ */
  .our-team {
    padding: 120px 0 120px;
  }
  .our-team-list {
    gap: 64px 24px;
  }
  .team-card-info {
    padding: 32px 16px 32px;
  }
  /* -----PORTFOLIO------ */
  .portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  /* -----FOOTER------ */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrapper {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-info {
    margin-right: 120px;
  }
  .footer-link {
    display: inline-block;
  }
  .footer-paragraph {
    width: 264px;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  .footer-form {
    width: 453px;
  }
  .footer-input {
    opacity: 1;
  }
}
